<header>
    <div class="content">
        <a class="logo" href="/">
            <i class="fas fa-globe-americas"></i>
            <h1>BlogAnywhere</h1>
        </a>

        <form class="nav-search" method="GET">
            <!-- <i class="fas fa-search"></i> -->
            <input type="text" name="q" placeholder="Search posts..." />
        </form>

        {% if request.user.is_authenticated %}
        <div class="user-profile dropdown">
            <a href="{% url 'profile' user.id %}" class="nav-avatar">
                <figure>
                    <img src="{{ request.user.avatar.url }}" alt="User avatar">
                </figure>
            </a>
            <div class="user-details">
                <h1>{{ request.user.name }}</h1>
                <a href="{% url 'profile' user.id %}">@{{ request.user.username }}</a>
            </div>
            <!-- Dropdown list -->
            <button class="dropdown-button">
                <i onclick="toggleDropdown()" class="fas fa-caret-down"></i>
            </button>
            <div id="dropdown-content" class="dropdown-content">
                <a href="{% url 'logout' %}">
                    <i class="fas fa-sign-out-alt"></i>
                    Logout
                </a>
              </div>
        </div>
        {% else %}
        <a class="login-button" href="{% url 'login' %}">Login</a>
        {% endif %}

    </div>
</header>