:root {
   --main-dark: #22252D;
   --secondary-dark: #3C4049;
   --tertiary-dark: #595E6A;
   --tertiary-dark-hover: #50545f;
   --white: #EEEFF0;
   --white-hover: #d4d7d9;
   --blue: #648AE0;
   --blue-hover: #4975da;
   --red: #E51452;
   --red-hover: #ce1249;
   --card-border-radius: 5px;
}

body {
    font-family: 'Lato', sans-serif !important;
    margin: 0rem !important;
    background: var(--main-dark);
    position: relative;
    max-width: 100vw;
    overflow-x: hidden;
}

.cartographer-overlay {
    position: absolute;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    background: url('../assets/cartographer.png');
    opacity: .75;
    z-index: 1;
    margin-bottom: 2rem;
}

section {
    position: relative;
    z-index: 2;
}

.feed,
.login_register,
.profile-view,
.single-post,
.create-form,
.activity-feed {
    max-width: 1000px !important;
}