{% extends 'main.html' %}

{% block content %}

<section class="container create-form">
    
    
    <form method="POST" action="">
        <h1>Delete post</h1>
        {% csrf_token %}
        <div class="post-card">
            <!-- Head -->
            <div class="post-card-head">
                <div class="user-details-container">
                    <!-- Avatar -->
                    <figure class="avatar">
                        <img src="{{ comment.author.avatar.url }}" alt="" />
                    </figure>
                    <!-- Name -->
                    <div class="user-details">
                        <h1>{{ post.author.name }}</h1>
                        <a href="{% url 'profile' post.author.id %}">@{{ comment.author.username }}</a>
                    </div>
                </div>
                <!-- Date -->
                <span>{{ comment.created|timesince }} ago</span>
            </div>
        
            <!-- Body -->
            <div class="post-card-body">
                <p>{{ comment.content }}</p>
            </div>
        
            <!-- Like/participation data -->
            <div class="post-card-footer">
                <button disabled class="likes">
                    {% if comment.liked %}
                    <i class="fas fa-heart"></i>
                    {% else %}
                    <i class="far fa-heart"></i>
                    {% endif %}
                    <span>{{ comment.likes.count }} likes</span>
                </button>
            </div>
        
        </div>
        <p>Are you sure you want to delete this comment?</p>
        <div class="button-container">
            <a href="{% url 'post' comment.post.id %}" class="create-cancel-button" type="submit">Cancel</a>
            <button type="submit">Delete</button>
        </div>
    </form>

</section>

{% endblock %}