{% extends 'main.html' %}

{% block content %}
<section class="container post-feed">

    <div class="row">
        <!-- Create post button -->
        <div class="create-column col-lg-3">
            <a href="{% url 'create-post' %}" class="create-post">
                <span>Create Post</span>
                <i class="fas fa-pen-square"></i>
            </a>
        </div>
    
        <!-- Feed -->
        <div class="feed col-lg-6">
            <h1 class="post-count">{{ post_count }} posts to view</h1>
            {% for post in posts %}
                <div class="post-card">
                    <!-- Head -->
                    <div class="post-card-head">
                        <div class="user-details-container">
                            <!-- Avatar -->
                            <figure class="avatar">
                                <img src="{{ post.author.avatar.url }}" alt="" />
                            </figure>
                            <!-- Name -->
                            <div class="user-details">
                                <h1>{{ post.author.name }}</h1>
                                <a href="{% url 'profile' post.author.id %}">@{{ post.author.username }}</a>
                            </div>
                        </div>
                        <!-- Date -->
                        <span>{{ post.created|timesince }} ago</span>
                    </div>
        
                    <!-- Body -->
                    <div class="post-card-body">
                        <p>{{ post.content }}</p>
                    </div>
        
                    <!-- Like/participation data -->
                    <div class="post-card-footer">
                        <button class="likes">
                            {% if post.liked %}
                            <i class="fas fa-heart"></i>
                            {% else %}
                            <i class="far fa-heart"></i>
                            {% endif %}
                            <span>{{ post.likes.count }} likes</span>
                        </button>
                        <a class="participants" href="{% url 'post' post.id %}">
                            {% if post.commented %}
                            <i class="fas fa-comment"></i>
                            {% else %}
                            <i class="far fa-comment"></i>
                            {% endif %}
                            <span>{{ post.participants.count }} participants</span>
                        </a>
                        {% if request.user.id == post.author.id %}
                        <div class="owner-options">
                            <a class="edit" href="{% url 'edit-post' post.id %}">Edit</a>
                            <a class="delete" href="{% url 'delete-post' post.id %}">Delete</a>
                        </div>
                        {% endif %}
                    </div>
        
                </div>
            {% endfor %}
        </div>
    
        <!-- Recent Activity -->
        <div class="recent col-lg-3">
            <div class="recent-head">
                <h1>Recent Activity</h1>
                <a href="{% url 'activity' %}">View more</a>
            </div>
            <div class="recent-feed">
                {% for activity in recent_activity %}
                    <div class="recent-card">
                        <!-- Post -->
                        {% if activity.type == 'post' %}
                            <div class='activity-description'>
                                <a class='username' href="{% url 'profile' activity.author.id %}">@{{ activity.author.username }}</a>
                                <span>posted:</span>
                            </div>
                            <div class="post-card-head">
                                <div class="user-details-container">
                                </div>
                            </div>
                            <div class="post-card-body">
                                {% if activity.shorten  %}
                                <p>{{ activity.shortened }}</p>
                                {% else %}
                                <p>{{ activity.content }}</p>
                                {% endif %}
                            </div>
                            <div class="post-card-footer">
                                <button class="likes">
                                    {% if activity.liked %}
                                    <i class="fas fa-heart"></i>
                                    {% else %}
                                    <i class="far fa-heart"></i>
                                    {% endif %}
                                    <span>{{ activity.likes.count }}</span>
                                </button>
                                <a class="participants" href="{% url 'post' activity.id %}">
                                    {% if activity.commented %}
                                    <i class="fas fa-comment"></i>
                                    {% else %}
                                    <i class="far fa-comment"></i>
                                    {% endif %}
                                    <span>{{ activity.participants.count }}</span>
                                </a>
                            </div>
                        {% endif %}

                        
                        <!-- Comment -->
                        {% if activity.type == 'comment' %}
                            <div class='activity-description'>
                                <a class='username' href="{% url 'profile' activity.author.id %}">@{{ activity.author.username }}</a>
                                <span>replied:</span>
                            </div>
                            <div class="post-card-head">
                                <div class="user-details-container">
                                </div>
                            </div>
                            <div class="post-card-body">
                                {% if activity.shorten  %}
                                <p>{{ activity.shortened }}</p>
                                {% else %}
                                <p>{{ activity.content }}</p>
                                {% endif %}
                            </div>
                            <div class="post-card-footer">
                                <button class="likes">
                                    {% if activity.liked %}
                                    <i class="fas fa-heart"></i>
                                    {% else %}
                                    <i class="far fa-heart"></i>
                                    {% endif %}
                                    <span>{{ activity.likes.count }}</span>
                                </button>
                                <a class="participants" href="{% url 'post' activity.id %}">
                                    <i class="fas fa-file-invoice"></i>
                                    <span>View</span>
                                </a>
                            </div>
                        {% endif %}


                        <!-- PostLike -->
                        {% if activity.type == 'post_like' %}
                        <div class='activity-description'>
                            <a class='username' href="{% url 'profile' activity.user.id %}">@{{ activity.user.username }}</a>
                            <span>liked:</span>
                        </div>
                        <div class="post-card-head">
                            <div class="user-details-container">
                            </div>
                        </div>
                        <div class="post-card-body">
                            {% if activity.post.shorten  %}
                            <p>{{ activity.post.shortened }}</p>
                            {% else %}
                            <p>{{ activity.post.content }}</p>
                            {% endif %}
                        </div>
                        <div class="post-card-footer">
                            <button class="likes">
                                {% if activity.post.liked %}
                                <i class="fas fa-heart"></i>
                                {% else %}
                                <i class="far fa-heart"></i>
                                {% endif %}
                                <span>{{ activity.post.likes.count }}</span>
                            </button>
                            <a class="participants" href="{% url 'post' activity.post.id %}">
                                {% if activity.post.commented %}
                                <i class="fas fa-comment"></i>
                                {% else %}
                                <i class="far fa-comment"></i>
                                {% endif %}
                                <span>{{ activity.post.participants.count }}</span>
                            </a>
                        </div>
                        {% endif %}


                        <!-- CommentLike -->
                        {% if activity.type == 'comment_like' %}
                        <div class='activity-description'>
                            <a class='username' href="{% url 'profile' activity.user.id %}">@{{ activity.user.username }}</a>
                            <span>liked:</span>
                        </div>
                        <div class="post-card-head">
                            <div class="user-details-container">
                            </div>
                        </div>
                        <div class="post-card-body">
                            {% if activity.comment.shorten  %}
                            <p>{{ activity.comment.shortened }}</p>
                            {% else %}
                            <p>{{ activity.comment.content }}</p>
                            {% endif %}
                        </div>
                        <div class="post-card-footer">
                            <button class="likes">
                                {% if activity.comment.liked %}
                                <i class="fas fa-heart"></i>
                                {% else %}
                                <i class="far fa-heart"></i>
                                {% endif %}
                                <span>{{ activity.comment.likes.count }}</span>
                            </button>
                            <a class="participants" href="{% url 'post' activity.comment.post.id %}">
                                <i class="fas fa-file-invoice"></i>
                                <span>View</span>
                            </a>
                        </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


</section>
{% endblock %}